
<header>

    <div id="menu" class="fas fa-bars"></div>

    <a href="#" class="logo">Enlighten Minds</a>

    <nav class="navbar">
        <ul>
            <li><a class="active" href="{%  url 'home' %}">home</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#teacher">Instructor</a></li>
            <li><a href="#course">course</a></li>
            <li><a href="#contact">contact</a></li>

           <li><a href="login.html" id="signout"><h1><i class="fa fa-sign-out" style="color: black; "></i></h1></a></li> 

        </ul>
    </nav>

   
   <a href="{% url 'profile' %}" id="profile"><h1><i class="fas fa-user-circle" style="color: black; "></i></h1></a>
    <a href="#" id="mycourses"><h1><i class="fas fa-tv" style="color: black; "></i></h1></a>
    <a href="{% url 'logout' %}" id="logout"><h1><i class="fas fa-sign-out-alt" style="color: black; "></i></h1></a>
</header>
